@import url('https://fonts.googleapis.com/css2?family=Lora&family=Sora:wght@300&display=swap');

html {
  margin: auto;

  background-color: #181A1B;
}

body {
  font-family: 'Sora', sans-serif;
}

header {
  text-align: center;
  font-family: 'Lora', serif;
  color: #78E0FC
}

main {
  margin: 1rem;
  ;
  padding: 10px;
  text-align: center;
  font-size: large;
  color: #78E0FC;
}

footer {
  text-align: center;
  font-size: small;
  color: ghostwhite;
  background-color: rgb(76, 87, 99);
  text-decoration: none;
  padding-top: 5px;

}

figcaption {
  font-size: small;
  color: rgb(194, 192, 192);
}

.contractparagraph {
  text-align: justify;
}

#introbullets {
  margin: auto;

  text-align: justify;
}

img,
figcaption {
  text-align: center;

}

table,
th,
td {
  text-align: justify;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
  margin-bottom: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #78E0FC;
  border-collapse: collapse;

}

a,
a:visited {
  text-decoration: none;
  color: #78E0FC;
  font-family: 'Sora', sans-serif;
}

a:hover {
  text-decoration: none;
  color: ghostwhite;
  font-family: 'Sora', sans-serif;
}



table thead {
  background-color: rgb(5, 43, 87);
  color: rgb(255, 255, 255);
}

tbody tr:nth-child(odd) {
  background-color: rgb(15, 202, 235);
  color: #fff;
}

tbody tr:nth-child(even) {

  background-color: rgb(29, 112, 151);
  color: #fff;
}

ul {
  text-align: justify;
  list-style-type: square;

}

li {
  text-align: justify;
}

h3 {
  text-align: justify;
}

/* Styling for form */
form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem 0;
}

.form,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}

input,
textarea {
  background-color: #0a0a23;
  border: 1px solid #0a0a23;
  color: #ffffff;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

input[type="submit"] {
  display: block;
  width: 60%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: green;
  min-width: 300px;
}

input[type="reset"] {
  display: block;
  width: 45%;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: #3b3b4f;
  border-color: red;
  min-width: 300px;
}

input[type="file"] {
  padding: 1px 2px;
}

/* calculator styling from codepen fcc*/
.calculator {
  border-radius: 12px;
  box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 15em;
  overflow: hidden;
}

.calculator__display {
  background-color: #222222;
  color: #fff;
  font-size: 1.714285714em;
  padding: 0.5em 0.75em;
  text-align: right;
}

.calculator__keys {
  background-color: #999;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(4, 1fr);
}

.calculator__keys>* {
  background-color: #fff;
  padding: 0.5em 1.25em;
  position: relative;
  text-align: center;
}

.calculator__keys>*:active::before,
.calculator__keys>.is-depressed::before {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.key--operator {
  background-color: #eee;
}

.key--equal {
  background-image: linear-gradient(to bottom, #fe886a, #ff7033);
  grid-column: -2;
  grid-row: 2 / span 4;
}

/* slideshow css*/

#slideshow-container {
  margin: auto;
}

#slideshow-container img.slides {
  position: absolute;
  top: 0;
  left: 0;
  /* display: none; */

}

.slideshow-nav-buttons {
  width: 10%;

  position: sticky;
}

/* ACT 10 CSS*/
.bunny-thumbnail {
  border: 2px solid black;
  border-radius: 5px;
  padding: 2px;
  width: 150px;
}

.bunny-thumbnail:hover {
  box-shadow: 0 0 1px 2px #78E0FC;
}

/* act 11 css*/
.ui-accordion-header-icon {
  border: 1px solid #78E0FC;
}