html {
    margin: auto;
    padding: auto;
    background-color:#181A1B;
}

.header {
    text-align:center;
    font-size: 20px;
    color: ghostwhite
    
}

.main {
    margin: 1rem;;
    padding: 3rem;
    text-align: center;
    font-size:larger;
    color: ghostwhite;
}

.contractparagraph {
    text-align: justify;
}

.footer {
    text-align: center;
    font-size: large;
    color: ghostwhite;
    background-color: slategray;

}

a {
    text-decoration: none;
    color: ghostwhite;
}

a:visited {
    text-decoration: none;
    color: ghostwhite;
}
a:hover{
    text-decoration:underline;
    color: ghostwhite;
}
