@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Animation inspired from "Pure CSS Gradient Background Animation" by Manuel Pinto (https://codepen.io/P1N2O/pen/pyBNzX) */
html {
    margin: auto;
    padding: 175px;
    background: linear-gradient(-80deg, #015680, #409ee2, #44cecf, #567aab);
    background-size: 500% 500%;
    animation: fade 15s ease infinite;
    
    
}

@keyframes fade {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

h1 {
    color: ghostwhite;
    font-style:normal;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    letter-spacing: .2rem;
    
}

#welcometext {
    color: ghostwhite;
    font-style: normal;
    text-align: center;
    font-family: 'Lato', serif;
    font-size: 40px;
    letter-spacing: .3rem;
}

footer {
    color: ghostwhite;
    font-style: italic;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-size: 20px;
}