@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&family=Space+Mono&display=swap');


html {
    background-image: url("../images/milkyway-background-pexels-philippe-donn-1169754.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(21, 21, 39);
    color: rgb(197, 196, 247);
}

body {
    font-family: 'Space Mono', monospace;
}

h1 {
    text-align: center;
    font-family: 'Source Serif Pro', serif;
}

h2 {
    font-family: 'Source Serif Pro', serif;
}

h3 {
    font-family: 'Source Serif Pro', serif;
}

p {
    font-family: 'Space Mono', monospace;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(48, 42, 42, 0.523);
    color: rgb(197, 196, 247);
    text-align: center;
}

a,
a:visited {
    text-decoration: underline;
    color: rgb(197, 196, 247);

}

a:hover {
    color: rgb(160, 144, 144);
}

.nav-buttons {
    border: 1px solid ghostwhite;
    text-align: center;
    padding: 10px 16px;
}

#home-button {
    vertical-align: middle;
}

#brand-link {
    text-decoration: underline;
}

.validator-button,
.validator-button:visited,
.validator-button:hover {
    text-decoration: none;
}

section {
    background-color: rgba(0, 0, 0, 0.534);
}

figcaption {
    font-size: small;
    color: rgb(185, 182, 182);
}