<footer>
        Designed by <a id="brand-link" href="../mightyalbatrossempire.com/brand.html">Mighty Albatross Empire&copy;</a>
        <br>
        <a href="https://validator.w3.org/check?uri=referer" class="validator-button"><img
                        src="images/button-valid-html5.gif" width="88" height="31" alt="Link to HTML validator">
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" class="validator-button"><img
                        src="images/button-valid-css.gif" width="88" height="31" alt="Link to CSS validator"></a>
</footer>