<footer>
    <script src="./scripts/validate.js"></script>
    <nav>
        <p>
            <a href="https://webpages.charlotte.edu/mahmed29/itis3135/">UNCC</a> &diams;
            <a href="https://irzemahmed.github.io/"> GitHub</a> &diams;
            <a href="https://irzemahmed.github.io/itis3135">GitHub-ITIS3135</a> &diams;
            <a href="https://www.codecademy.com/profiles/MightyAlbatross">
                codeacademy profile </a> &diams;
            <a href="https://www.freecodecamp.org/IrzemAhmed">
                freeCodeCamp profile </a> &diams;
            <a href="https://www.linkedin.com/in/irzem-ahmed/">LinkedIn profile </a>
        </p>
    </nav>

    <p>^^ Designed by the <a href="mightyalbatrossempire.com/brand.html">MightyAlbatross empire</a> &copy;2022 ^^</p>

    <a href="https://validator.w3.org/check?uri=referer"><img src="images/button-valid-html5.gif" width="88" height="31"
            alt="Link to HTML validator">
    </a>
    <a href="https://jigsaw.w3.org/css-validator/check/referer"><img src="images/button-valid-css.gif" width="88"
            height="31" alt="Link to CSS validator"></a>
</footer>