<header>
    <!-- My logo-->
    <h1><a href="index.html"><img src="images/mylogo.png" width="75" height="75" alt="my logo"></a>Irzem Ahmed's Mighty
        Albatross &mdash; ITIS3135</h1>

    <nav>
        <p>
            <a href="index.html">Home</a> &diams;
            <a href="irzemahmedintroduction.html">Introduction</a> &diams;
            <a href="contract.html">Contract</a> &diams;
            <a href="tables.html">Table</a> &diams;
            <a href="forms.html">Form</a> &diams;
            <a href="website_evaluations.html">Website Evaluations</a> &diams;
            <a href="stuff/MY+CrappYPage^-^.htm">CRAPPY Website</a> &diams;
            <a href="firstscripts.html">First Scripts</a>

        </p>
        <p>
            <a href="polygons.html">Name Polygons</a>
        </p>
    </nav>
</header>